services:
  postgres:
    container_name: ms_pg_sql
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: PostgreSQLPass@2025
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - microservices-net
    restart: unless-stopped

  pgadmin:
    container_name: ms_pgadmin
    image: dpage/pgadmin4
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - microservices-net
    restart: unless-stopped

  mongodb:
    container_name: ms_mongo_db
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: prashanth
      MONGO_INITDB_ROOT_PASSWORD: prashanth
    volumes:
      - mongo:/data/db
    networks:
      microservices-net:
        aliases:
          - mongo      # Entrypoint script looks for this
          - mongodb    # Your app uses this
    ports:
      - "27017:27017"
    restart: unless-stopped
#    healthcheck:
#      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
#      interval: 5s
#      timeout: 5s
#      retries: 3
#      start_period: 10s

  mongo-express:
    container_name: ms_mongo_express
    image: mongo-express
    depends_on:
      - mongodb
#    depends_on:
#      mongodb:
#        condition: service_healthy
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: prashanth
      ME_CONFIG_MONGODB_ADMINPASSWORD: prashanth
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: prashanth_ui
      ME_CONFIG_BASICAUTH_PASSWORD: securepassword123
    ports:
      - "8081:8081"
    networks:
      - microservices-net
    restart: unless-stopped

  mail-dev:
    container_name: ms_mail_dev
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025"
    networks:
      - microservices-net
    restart: unless-stopped

networks:
  microservices-net:
    driver: bridge

volumes:
  postgres:
  pgadmin:
  mongo: